<h1>These are the docs you're looking for</h1>

<!-- <section>
  <h2>Featured Content</h2>
  <ul class="pages">
    {{#each content.pages}}
        {{#if featured}}
          <li>
            <a href="{{href}}">{{title}}</a>
            {{#if heading}}<span class="faint heading">{{heading}}</span>{{/if}}
          </li>
        {{/if}}
    {{/each}}
  </ul>
</section>

<section>
  <h2>Recently Updated</h2>
  <ul class="pages">
    {{#each recentlyUpdatedPages}}
      <li>
        <a href="{{href}}">{{title}}</a>
        {{#if heading}}<span class="faint heading">{{heading}}</span>{{/if}}
      </li>
    {{/each}}
  </ul>
</section> -->

{{#each content.sections}}
  <section id="{{id}}">

    <h2 title="{{title}}">
      {{#if href}}
        <a href="{{href}}">{{title}}</a>
      {{else}}
        {{title}}
      {{/if}}
    </h2>

    <ul class="pages">
      {{#each ../content.pages}}
          {{#equal ../id section}}
            <li>
              <a href="{{href}}">{{title}}</a>
              {{#if heading}}<span class="faint heading">{{heading}}</span>{{/if}}
            </li>
          {{/equal}}
      {{/each}}
    </ul>

  </section>
{{/each}}
