<div class="container">
  {{#breadcrumbs}}
  <div class="breadcrumbs print-only">
    <h3>{{section}}</h3>
  {{#if prev}}{{cleanPageTitle prev.title}} > {{/if}}<span>{{cleanPageTitle page.title}}</span>{{#if next}} > {{cleanPageTitle next.title}}{{/if}}
  </div>
  {{/breadcrumbs}}
  <div id="page">
    {{#if page.heading}}
    <h1>{{page.heading}}</h1>
    <h1 class="subtitle">{{page.subtitle}}</h1>
    {{/if}}
    {{{ page.content }}}

    <p class="colophon">
      {{#if page.modifiedPretty}}
        Last modified {{page.modifiedPretty}}
      {{/if}}
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      {{#if page.edit_url}}
        Found a typo? Send a
        <a href="{{page.edit_url}}">pull request!</a>
      {{/if}}

    </p>

  </div>
</div>
